/*
 *
 * Copyright Guillaume LOUVEL 2018/07/12
 * 
 * Code inspired from this tutorial:
 *     https://www.sitepoint.com/make-a-simple-javascript-slideshow-without-jquery/
 */

.slideshow > ul, .slideshow > ol, .slideshow > figure {
    position: relative;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

.slide.showing {
    position: static;
    opacity: 1;
    z-index: 2;
}
/* figure.slide.showing {margin:;}*/

/*
.slideshow > button.controls {
    position: static;
}
*/
